[Unit]
Description=Mp3 search
After=syslog.target

[Service]
User=root
ExecStart=/bin/bash /var/search/search.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target